
.header{
    grid-area: header;
    background-color: rgb(156, 40, 40);
    color: white;
    position: relative;
    z-index: 100;
    padding: 2.5rem 1rem 2.5rem;
    display: grid;
}

.header__list{
    height: 100%;
}

.header__item{
    font-size: 23px;
    color: white;
    padding: 1rem 0rem;
    text-align: center;
    
    .fa{
        display: block;
        width: 100%;
    }

    &:hover{
        color: rgb(255, 255, 255)
    }
}

// <ul class="header__list">
// <li class="header__item"><a href="#" class="header__item">Home <i class="fa fa-home"></i></a></li>
// <li class="header__item"><a href="#" class="header__item">Home <i class="fa fa-home"></i></a></li>
// <li class="header__item"><a href="#" class="header__item">Home <i class="fa fa-home"></i></a></li>
// <li class="header__item"><a href="#" class="header__item">Home <i class="fa fa-home"></i></a></li>
// </ul>